

* {
    margin: 0px;
    box-sizing: border-box;
}

img {
    width: 100%;
}

header {
    background: #FFFF;
    width: 100%;
    height: 100px;
}

#top_header {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

#logo {
    width: 200px;
}

.top_header_offer {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}

.icon{
    width: 20px;
}

.for_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button > button{
    display: flex;
    border: 1px solid #FF6633;
    border-radius: 5px;
    padding: 7px;
    color: #FF6633;
    gap: 4px;
    align-items: center;
}

#bottom_header{
    height: 30px;
}
nav > ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

#hero {
    background : black;
    width: 100%;
    height: 400px;
}

#hero >  div{
    width: 100%;
    height: 100%;
    padding: -10px 400px;
    overflow: hidden;
}


.image{
    display: flex;
}

.global {
    margin: 20px 100px 20px 100px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 10px;
}

.card {
    width: 300px;
    height: 432px;
    border-radius: 5px;
    border: 1px solid #FF6633;
    box-shadow: 0 3px 5px 0 #FF6633;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.info {
    padding: 5px 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jenre {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: none;
    background: blue;
}

.action {
    display: flex;
    justify-content: space-between;
}

.action > button {
    padding: 5px 20px;
    background: #FF6633;
    border-radius: 5px;
    border: none;
}

.avant_footer {
    height: 200px;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.avant_footer > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

footer {
    height: 400px;
    width: 100%;
    background: #02ADED;
}

.top_footer {
    padding: 30px 100px 30px 100px;
    display: flex;
    gap: 10%;
}

.left_div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.option{
    padding: 10px 25px;
    background: #8C8C8C;
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
}

.option > select {
    width: 100%;
    background: none;
    border: none;
}

.right_div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

fieldset {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

fieldset > div > input {
    width: 100%;
    padding: 10px 2px;
    border: none;
    background: #FFFF;
}

fieldset > div > button {
    padding: 4px;
    border: none;
    background: #FF6633;
}

fieldset > div {
    
    display: flex;
}

.bottom_footer {
    height: 40px;
    width: 100%;
    padding: 0 100px;
    background: #FFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment {
    width: 20%;
}

.social {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: flex;
    gap: 20px;
}

.btn > button {
    background: #FF6633;
    color: #FFFF;
    display: flex;
    gap: 5px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
}

.icon_btn{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
}

.icon_btn > div {
    width: 10%;
    max-height: 100%;
}
.mini_logo {
    width: 20%;
}